body {
  background: linear-gradient(135deg, #ff9a9e 10%, #f6416c 100%);
}

body::before,
body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

body::before {
  clip-path: circle(50% at left 20%);
  background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
}

body::after {
  clip-path: circle(30% at right 80%);
  background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
}